*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color: #17B890;
}

body{
  background: #181a1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.header{
  width: 80vw;
  height: 10vh;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .highlight{
  /* color: #0f61bf; */
  color: #adadad;
}

.content{
  height: 70vh;
  width: 80vw;
  background-image: url('../dark snake.png');
  background-size:contain;
  background-repeat: no-repeat;

}

.footer{
  height: 20vh;
  width: 80vw;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

table{
  margin: 20px 0 0 0;
  width: 250px;
}

table.hide{
  display: none;
}

.singlePlayer tr td:first-child,table.singlePlayer th{
  color: #6D6A75;
}

table.multiplayer{
  width: 500px;
  text-align: center;
}

.multiplayer th, .multiplayer tr td:nth-child(2) {
  color: #6D6A75;
}

.multiplayer tr td:last-child{
  color: #4287f5;
  /* color: #0f61bf; */
}

canvas{
  box-shadow: 5px 5px 10px #17B890;
  background-color: rgba(0,0,0,0.8);
}

.startContainer, .gameOverContainer{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  background: rgba(0,0,0,0.7);
}

.startContainer.show, .gameOverContainer.show{
  display: flex;
}

.gameOverContainer{
  flex-direction: column;
}
.gameOverContainer table{
  margin-top: 20px;
}
.gameOverContainer .prompt button{
  margin: -80px 0 0 0;
}

.sad{
  color: #adadad;
}

.prompt{
  width: 25vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background: #17B890; */
  /* border: 1px dashed #17B890; */
}


.prompt button{
  min-width: 200px;
  width: 55%;
  height: 60px;
  margin: 0 14px;
  border: 1px solid #17B890;
  background: none;
  outline: none;
  transition: 0.2s ease-in;
}

.prompt button:hover{
  cursor: pointer;
  border-bottom: 2px solid #17B890;
    box-shadow: 0 2px 5px #17B890;
  transform: translateY(-5px);
}

button i{
  font-size: 24px;
  margin: 0 6px;
  color: #adadad;
}
/*====================Settings Styles====================*/
/* .setting{
  width: 20vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: 0.7s ease-in-out;
  /* display: flex; */
  border: 1px solid #adadad;
}

.setting i{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  color: #adadad;
  transition: 0.7s ease-in-out;
  border-radius: 50%;
  z-index: 99;
}

.setting i:hover{
  transform: rotateZ(120deg);
  text-shadow: 2px 0px #17B890;
  cursor: pointer;
} */

/*====================Settings Styles====================*/
